@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-base: #090d16;
  --bg-surface: #0f172a;
  --bg-card: #1e293b;
  --border: #334155;
  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;
}

body {
  background-color: var(--bg-base);
  color: var(--text-primary);
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
